x-keyboard-side {
	.rows {
		> div {
			display: flex;
			gap: var(--space-small);
			width: 100%;
			justify-content: space-between;
			margin-bottom: var(--space-small);
		}
	}

	.thumbs {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		/* grid-template-rows: 50px 150px 50px 150px; */
		gap: var(--space-small);
	}
}
