x-main-area {
	display: block;
	background: indigo;

	.keyboards-container {
		height: 100%;
		display: grid;
		padding: 100px;
		grid-template-columns: 1fr auto 1fr;
		align-content: center;
		place-items: center center;
	}
}
