x-active-context {
	.noContext {
		font: bold 2rem / 1.5 sans-serif;
		color: white;
	}
	.goUpButton {
		margin-right: 2rem;
		background-color: royalblue;
	}
	background: radial-gradient(at 50%, darkorchid, magenta);
	height: 100px;
	transition: all 0.3s ease-in-out;
	animation: pulse 4s infinite;
	&:hover {
		filter: grayscale(1.2);
	}
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		font-size: 2rem;
	}
	p {
		font-size: 2rem;
	}
	.selectContextButton {
		padding: 0.5rem 1rem;
		&.active {
			background-color: royalblue;
			color: white;
		}
	}
	img {
		width: 40px;
	}
}

@keyframes pulse {
	0% {
		filter: brightness(1);
	}
	50% {
		filter: brightness(1.2);
	}
	100% {
		filter: brightness(1);
	}
}
