x-key-button {
	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		font:
			1rem "Courier New",
			sans-serif;
		width: 80px;
		height: 80px;
		background: lavender;
		font-size: 1.5rem;
		border: 4px inset lightyellow;

		border-radius: var(--bdrs-huge);

		&:hover {
			transform: translateY(-2px);
			outline: 4px solid gainsboro;
			outline-offset: -11px;
			transition: transform 100ms ease-in-out;
			.key-hidden {
				/* opacity: 1; */
				display: block;
			}
			border: 4px inset mediumorchid;
			animation: spread 200ms ease-in-out forwards;
		}
	}

	img {
		width: 40px;
	}

	.key-hidden {
		/* opacity: 0; */
		display: none;

		.desc {
			background: linear-gradient(mediumspringgreen, snow);
		}
		.voice-command {
			background: linear-gradient(blue, snow);
		}

		transition: opacity 100ms;
		position: absolute;
		margin-bottom: 8rem;
		font:
			bold 1.5rem / 1.5 "Courier New",
			sans-serif;
		border-radius: var(--bdrs-normal);
		max-width: 40vw;
		text-align: center;
		padding: 1.75rem;
	}

	.empty {
		&:hover {
			border: 4px inset darkgray;
		}
		background-color: gainsboro;
	}
}

@keyframes change {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes spread {
	0% {
		box-shadow: 0 0 0 0 white;
	}
	100% {
		box-shadow: 0 0 20px 10px blueviolet;
	}
}
