map-context {
	background: darkorchid;
	color: color-mix(in srgb, darkorchid 30%, white);
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		font-size: 2rem;
	}
	p {
		font-size: 2rem;
	}
}
