@import "./styles/reset.css";
@import "./styles/variables.css";

@import url("./components/bottom-panel/bottom-panel.css");
@import url("./components/key-button/key-button.css");
@import url("./components/keyboard-side/keyboard-side.css");
@import url("./components/main-area/main-area.css");
@import url("./components/active-context/active-context.css");

header {
	background: indigo;
	height: 50px;
	font:
		2rem "Courier New",
		sans-serif;

	color: azure;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		text-underline-offset: 0.25rem;
		text-decoration: underline;
	}

	navigation {
		flex: 0 1 50%;
		a {
			transition: color 0.2s;
			&:hover {
				color: white;
			}
		}
	}
}

main {
	min-height: calc(100vh - 50px);
}
