@import "./reset.css";
:root{
    --bdrs-main: 8px;
    --space-small: 0.5rem;
    --space-medium: 1rem;
}

header {
    background: linen;
    height: 50px;
    font: 2rem "Georgia", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    navigation {
        background: wheat;
        border-radius: var(--bdrs-main);
        flex: 0 1 50%;
    }
}

keyboard-side {
    .rows {
        > div {
            display: flex;
            gap: var(--space-small);
            width: 100%;
            justify-content: space-between;
            margin-bottom: var(--space-small);
        }
    }

    .thumbs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows: 50px 150px 50px 150px; */
        gap: var(--space-small);
    }
}


main-area {
    .keyboards-container {

        padding-top: var(--space-medium);
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        place-items: center center;
        background: ivory;
    }

}


map-context {
    background: darkkhaki;
    display: flex;
    justify-content: center;
    align-items: center;
}

key-button {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        font: 1rem "Monospace";
        width: 80px;
        height: 80px;
        border-radius: var(--bdrs-main);
        background: lavender;
        font-size: 1.5rem;
        border: 1px solid black;

        &:hover {
            position: relative;
            .key-hidden {
                opacity: 1;
            }
        }
    }

    .key-hidden {
        opacity: 0;
        outline: 0.25rem solid mediumorchid;
        transition: all 100ms ease-in;
        border-radius: var(--bdrs-main);
        position: absolute;
        bottom: calc(100% + 1rem);
        left: -50%;
        height: 100%;
        text-align: center;
        background: linen;
        width: 600%;
        padding: 0.75rem;
        font-size: 1.5rem;
    }

}

bottom-panel {
    text-align: center;

    footer {
        background: lightcoral;
    }
}
